:root {

    /* Metrics & Settings */

    /* EM */
    --EM: 18px;

    /* Color Palette */
    --color1: rgb(32, 32, 32);
    --color2: rgb(0, 0, 0);
    --color3: rgb(0, 0, 0);
    --backgroundColor: rgb(240, 240, 240);

    /* Text */
    --primaryFont: plantin;
    --secondaryFont: plantin;

    /* Weight */
    --weightU: 100;
    --weightR: 400;
    --weightB: 600;
    --weightH: 900;

    /* Text Size */
    --h1Size: calc(var(--EM) * 2);
    --h2Size: calc(var(--EM) * 1.2);
    --h3Size: calc(var(--EM) * 1.2);
    --pSize: calc(var(--EM) * 1);
    --liSize: calc(var(--EM) * .9);
    --capSize: calc(var(--EM) * 0.5);

    /* Side Nav */
    --sideNavMaxWidth: calc(var(--EM) * 16);
    --sideNavMinWidth: calc(var(--EM) * 10);

    /* Text Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    /* Emergency Fallback*/
    font-family: var(--primaryFont), serif;
    font-kerning: normal;
    letter-spacing: calc(var(--EM) * 0.01);

    background-color: var(--backgroundColor);

    /* Spatial Settings */
    max-width: calc(var(--EM) * 70);
    padding: calc(var(--EM) * 1);
    margin: auto;

    /* Experimental */
}

h1 {
    /* Spatial Settings */
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: calc(var(--EM) * 2);
    max-width: calc(var(--EM) * 40);
    /* Text */
    font-family: var(--secondaryFont), serif;
    font-size: var(--h1Size);
    font-weight: var(--weightR);
    font-style: normal;

    /*letter-spacing: calc(var(--EM) * -0.05);*/

    /* Paragraph */
    line-height: 1.1;
    text-align: center;

    /* Color */
    color: var(--color2);
}

h2 {
    /* Spatial Settings */
    margin: 0;
    margin-top: calc(var(--EM) * 2);
    margin-bottom: calc(var(--EM) * -1);
    padding-left: calc(var(--EM) * 0);
    padding-right: calc(var(--EM) * 0.5);
    padding-bottom: calc(var(--EM) * 1.2);

    /* Text */
    font-family: var(--primaryFont), serif;
    font-size: var(--h2Size);
    font-weight: var(--weightB);
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: calc(var(--EM) * 0.2);
    text-align: center;

    /* Paragraph */
    line-height: 1.1;

    /* Color */
    
    background: var(--backgroundColor);
    color: var(--color3);
}

h3 {
    /* Spatial Settings */
    margin: 0;
    padding-top: calc(var(--EM) * 0.5);
    padding-bottom: calc(var(--EM) * 1);
    
    /* Text */
    font-family: var(--secondaryFont), serif;
    font-size: var(--h3Size);
    font-weight: var(--weightB);
    font-style: normal;

    /* Paragraph */
    line-height: 1.1;

    /* Color */
    color: var(--color2);
}

p {
    /* Spatial Settings */
    margin: 0;
    display: block;

    /* Text */
    font-family: var(--primaryFont), serif;
    font-size: var(--pSize);
    font-weight: var(--weightR);
    font-style: normal;
    font-variant-numeric: oldstyle-nums;

    /* Paragraph */
    line-height: 1.25;
    text-indent: calc(var(--EM) * 1.5);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    /* Color */
    color: var(--color1);
}

p:first-child {
  text-indent: 0;
}


hr {
    /* Spatial Settings */
    margin-top: calc(var(--EM) * 1);
    margin-bottom: calc(var(--EM) * 1);

    /* Color */
    background-color: var(--color3);

    /* Style */
    height: 2px;
    border-width: 0;

}
strong {
    /* Text */
    font-weight: var(--weightB);
}

i, em {
    /* Text */
    font-weight: inherit;
    font-style: italic;
}

a {
    /* Color */
    color: var(--color1);
}

hr {
  margin: calc(var(--EM) * 1);
  margin-left: 0;
  margin-right: 0;
}

footer {
  
    /* Spatial Settings */
    max-width: calc(var(--EM) * 24);
    margin-left: calc(var(--EM) * 1);
    margin-bottom: calc(var(--EM) * 1);
    padding-left: calc(var(--EM) * 0.5);
    padding-right: calc(var(--EM) * 0.5);
    padding-bottom: calc(var(--EM) * 0.15);
    padding-top: calc(var(--EM) * 0.2);

    position: fixed;
    left: 0;
    bottom: 0;
    width: max-content;

    /* Text */
    font-family: var(--primaryFont), serif;
    font-size: var(--capSizepSize);
    font-weight: var(--weightR);
    letter-spacing: calc(var(--EM) * 0.02);

    /* Paragraph */
    line-height: 1.25;
    text-align: left;
    vertical-align: top;

    background: var(--color3);
    color: var(--backgroundColor);
    
}


.colored { /* Apply the third color */
    /* Color */
    color: var(--color3);
}

.sidenav { /* The sidebar menu */
  /* Spatial Settings */
  min-width: calc(var(--EM) * 10);
  max-width: calc(var(--EM) * 24);
  width: 25%;
  height: calc(100vh - calc(var(--EM) * 4.25));
  position: fixed;
  top: 0;
  left: 0%;
  display: block;
  overflow-y: scroll;
  padding-top: calc(var(--EM) * 1);
  padding-left: calc(var(--EM) * 1);
  padding-right: calc(var(--EM) * 1);
  padding-bottom: calc(var(--EM) * 1.75);
}

.sidenav a { /* The navigation menu links */
  /* Spatial Settings */
  padding-left: calc(var(--EM) * 0);
  display: block;

  /* Text */
  text-decoration: none;

  /* Color */
  color: var(--color3);
}

.sidenav a:hover {
  /* Text */
  text-decoration: underline;
}

.sidenav ul {
  /* Spatial Settings */
  padding-left: calc(var(--EM) * 1);
  display: block;
  margin: 0;

  /* Text */
  font-size: var(--h3Size);
  font-weight: var(--weightB);
  list-style-type: none;
  font-variant-caps: all-small-caps;

  /* Color */
  color: var(--color3);
  
}

.sidenav li{
  /* Spatial Settings */
  padding-left: calc(var(--EM) * .5);
  padding-bottom: calc(var(--liSize) * .25);
  padding-top: calc(var(--liSize) * .25);

  /* Text */
  font-size: var(--liSize);
  font-weight: var(--weightR);
  list-style-type: none;
  font-variant-caps: normal;

  /* Paragraph */
  line-height: 1.1;

  /* Color */
  color: var(--color2);
  
}

.sidenav::-webkit-scrollbar {
  display: none;
}
.sidenav {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.main {
  width:70%;
  height:100%;
  max-width: calc(var(--EM) * 48);
  float: right;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: calc(var(--EM) * 2);
  
}

.flexbox {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .sidenav {width: 0; display: none;}
  .main {width: 100%}
  
}

@media (max-width: 850px) {
  footer {
    position: static;
    left: auto;
    bottom: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: right;
  }
  footer hr {
    margin: auto;
  }
  .sidenav {
    height: 90%;
  }
  :root {--EM: 16px};
}

@media (min-width: 1024px) {
  article {
    /* Paragraph */
    column-count: 2;
    column-gap: calc(var(--EM) * 1.5);
    column-rule: ;
  }
}